<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en Angular - usualmente en el Common Module</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Uppercase" [subheader]="nombreLower">
      {{ nombreLower | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Lowercase" [subheader]="nombreUpper">
      {{ nombreLower | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Titlecase" [subheader]="nombreCompleto">
      {{ nombreCompleto | titlecase }}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipes para mostrar las fechas</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'cccc, dd/mm/yyyy, GG'</li>
      </ul>
      <hr />
      <ul>
        <li>fecha | date: "long":'GMT-0'</li>
        <li>fecha | date: "long":'GMT-7'</li>
        <li>fecha | date: "long":"GMT-8":'en'</li>
        <li>fecha | date: "long":"":'fr'</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date: "short" }}</li>
        <li>{{ fecha | date: "long" }}</li>
        <li>{{ fecha | date: "cccc, dd/MM/yyyy, GG" }}</li>
      </ul>
      <hr />
      <ul>
        <li>{{ fecha | date: "long":"GMT-0" }}</li>
        <li>{{ fecha | date: "long":"GMT-7" }}</li>
        <li>{{ fecha | date: "long":"GMT-8":"en" }}</li>
        <li>{{ fecha | date: "long":"":"fr" }}</li>
      </ul>
    </p-card>
  </div>
</div>
