<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</div>

<div class="gid">
  <div class="col md:col-6">
    <p-fieldset legend="Header" [toggleable]="true">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ad
      sequi doloremque, voluptatibus libero molestiae iste, doloribus fuga vero
      obcaecati, accusamus error saepe suscipit consequatur? Dolore voluptate
      doloremque incidunt quis.
    </p-fieldset>
  </div>
</div>
